body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #6ec1f2;
  }

  #container {
    width: 770px;
  }
  #weekdays {
    width: 100%;
    display: none;
    color: #00093b;
  }
  #weekdays div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: none;
    flex-wrap: wrap;
   
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #82d6fd;
  }

  .padding {
    cursor: default !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
